USE [db_Gazete]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BayiNetSatis]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_BayiNetSatis](@bayiGazete_id int)
returns int
as
begin
	declare @sonuc int
	select @sonuc=gonderilenGazeteAdet-iadeGelenGazeteAdet
	from tbl_bayiGazete
	where bayiGazete_id=@bayiGazete_id
	return @sonuc
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KategoriHaberSayisi]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_KategoriHaberSayisi](@kategori_id int)
returns int
as
begin
	return(select count(*) 
			from tbl_haber 
			where kategori_id=@kategori_id)
end
GO
/****** Object:  Table [dbo].[tbl_gazeteSayisi]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_gazeteSayisi](
	[gazeteSayisi_id] [int] IDENTITY(1,1) NOT NULL,
	[sayiNo] [int] NOT NULL,
	[yayinTarihi] [datetime] NULL,
	[sayfaSayisi] [int] NOT NULL,
	[manset] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_gazeteSayisi] PRIMARY KEY CLUSTERED 
(
	[gazeteSayisi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_yazar]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_yazar](
	[yazar_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[eposta] [nvarchar](50) NOT NULL,
	[kategori_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_yazar] PRIMARY KEY CLUSTERED 
(
	[yazar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_haber]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_haber](
	[haber_id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](50) NOT NULL,
	[icerik] [nvarchar](max) NOT NULL,
	[kategori_id] [int] NOT NULL,
	[gazeteSayisi_id] [int] NOT NULL,
	[yazar_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_haber] PRIMARY KEY CLUSTERED 
(
	[haber_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_haberKategori]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_haberKategori](
	[kategori_id] [int] IDENTITY(1,1) NOT NULL,
	[kategoriAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_haberKategori] PRIMARY KEY CLUSTERED 
(
	[kategori_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HaberDetay]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_HaberDetay]
as
select
	h.baslik Başlık,
	hk.kategoriAdi KategoriAdi,
	y.ad+' '+y.soyad AdSoyad,
	gs.sayiNo SayıNo,
	gs.yayinTarihi YayınTarihi

from tbl_haber h
join tbl_haberKategori hk on h.kategori_id=hk.kategori_id
join tbl_yazar y on h.yazar_id=y.yazar_id
join tbl_gazeteSayisi gs on gs.gazeteSayisi_id=h.gazeteSayisi_id

GO
/****** Object:  Table [dbo].[tbl_bayiGazete]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_bayiGazete](
	[bayiGazete_id] [int] IDENTITY(1,1) NOT NULL,
	[bayi_id] [int] NOT NULL,
	[gazeteSayisi_id] [int] NOT NULL,
	[gonderilenGazeteAdet] [int] NOT NULL,
	[iadeGelenGazeteAdet] [int] NOT NULL,
	[gonderimTarihi] [date] NULL,
 CONSTRAINT [PK_tbl_bayiGazete] PRIMARY KEY CLUSTERED 
(
	[bayiGazete_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_bayi]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_bayi](
	[bayi_id] [int] IDENTITY(1,1) NOT NULL,
	[bayiAdi] [nvarchar](50) NOT NULL,
	[adresBilgisi] [nvarchar](max) NOT NULL,
	[telefon] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_tbl_bayi] PRIMARY KEY CLUSTERED 
(
	[bayi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BayiDagitimRaporu]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_BayiDagitimRaporu]
with schemabinding 
as
select
	b.bayiAdi,
	bg.gonderilenGazeteAdet,
	bg.iadeGelenGazeteAdet,
	bg.gonderimTarihi
from dbo.tbl_bayiGazete bg
join dbo.tbl_bayi b on b.bayi_id = bg.bayi_id

GO
/****** Object:  UserDefinedFunction [dbo].[fnt_KritikSatislar]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnt_KritikSatislar]()
returns table
as
return
(
	select * from tbl_bayiGazete
	where iadeGelenGazeteAdet > (gonderilenGazeteAdet/2)
)
GO
/****** Object:  UserDefinedFunction [dbo].[fnt_HaberYazarBilgisi]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnt_HaberYazarBilgisi]()
returns table
as
return
	(select h.baslik, y.ad+' '+y.soyad AdSoyad
	from tbl_haber h
	join tbl_yazar y on h.yazar_id=y.yazar_id)
GO
/****** Object:  UserDefinedFunction [dbo].[fnt_BayiGecmisi]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fnt_BayiGecmisi](@bayi_id int)
returns table
as
return 
	SELECT 
        b.bayiAdi,           
        bg.gonderilenGazeteAdet, 
        bg.iadeGelenGazeteAdet, 
        bg.gonderimTarihi           
    FROM tbl_bayiGazete bg
    INNER JOIN tbl_bayi b ON bg.bayi_id = b.bayi_id
    WHERE bg.bayi_id = @bayi_id
GO
/****** Object:  UserDefinedFunction [dbo].[fnt_HaberAra]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnt_HaberAra](@kelime nvarchar(50))
returns table
as
return
(
	select haber_id,
		   baslik,
		   icerik
	from tbl_haber
	where baslik like '%'+@kelime+'%'
)
GO
/****** Object:  Table [dbo].[tbl_abone]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_abone](
	[abone_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](11) NOT NULL,
	[adresBilgisi] [nvarchar](max) NOT NULL,
	[baslangicTarihi] [date] NULL,
	[bitisTarihi] [date] NULL,
 CONSTRAINT [PK_tbl_abone] PRIMARY KEY CLUSTERED 
(
	[abone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_baski]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_baski](
	[baski_id] [int] IDENTITY(1,1) NOT NULL,
	[gazeteSayisi_id] [int] NOT NULL,
	[matbaa_id] [int] NOT NULL,
	[baskiTarihi] [date] NULL,
	[adet] [int] NOT NULL,
 CONSTRAINT [PK_tbl_baski] PRIMARY KEY CLUSTERED 
(
	[baski_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_departman]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_departman](
	[departman_id] [int] IDENTITY(1,1) NOT NULL,
	[departmanAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_departman] PRIMARY KEY CLUSTERED 
(
	[departman_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_durum]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_durum](
	[durum_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[durumAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_durum] PRIMARY KEY CLUSTERED 
(
	[durum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_gorev]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_gorev](
	[gorev_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[durum_id] [tinyint] NOT NULL,
	[gorevAd] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_gorev] PRIMARY KEY CLUSTERED 
(
	[gorev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_haberArsiv]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_haberArsiv](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[haber_id] [int] NULL,
	[baslik] [nvarchar](50) NULL,
	[icerik] [nvarchar](max) NULL,
	[kategori_id] [int] NULL,
	[gazeteSayisi_id] [int] NULL,
	[silinme_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_matbaa]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_matbaa](
	[matbaa_id] [int] IDENTITY(1,1) NOT NULL,
	[adresBilgisi] [nvarchar](max) NOT NULL,
	[matbaaAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_matbaa] PRIMARY KEY CLUSTERED 
(
	[matbaa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_personel]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_personel](
	[personel_id] [int] IDENTITY(1,1) NOT NULL,
	[departman_id] [int] NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[tcNo] [nvarchar](11) NOT NULL,
	[adresBilgisi] [nvarchar](max) NOT NULL,
	[maas] [money] NOT NULL,
 CONSTRAINT [PK_tbl_personel] PRIMARY KEY CLUSTERED 
(
	[personel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_reklam]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_reklam](
	[reklam_id] [int] IDENTITY(1,1) NOT NULL,
	[reklamVerenAd] [nvarchar](50) NOT NULL,
	[ucret] [money] NOT NULL,
	[gazeteSayisi_id] [int] NOT NULL,
	[sure] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_reklam] PRIMARY KEY CLUSTERED 
(
	[reklam_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_yorum]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_yorum](
	[yorum_id] [int] IDENTITY(1,1) NOT NULL,
	[haber_id] [int] NOT NULL,
	[abone_id] [int] NOT NULL,
	[yorumMetni] [nvarchar](max) NOT NULL,
	[yorumTarihi] [date] NULL,
 CONSTRAINT [PK_tbl_yorum] PRIMARY KEY CLUSTERED 
(
	[yorum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_abone] ON 

INSERT [dbo].[tbl_abone] ([abone_id], [ad], [soyad], [telefon], [adresBilgisi], [baslangicTarihi], [bitisTarihi]) VALUES (1, N'Sude', N'Seyman', N'0551043316', N'Kuşpınar mahallesi Pamukkale', CAST(N'2026-04-23' AS Date), CAST(N'2026-04-23' AS Date))
INSERT [dbo].[tbl_abone] ([abone_id], [ad], [soyad], [telefon], [adresBilgisi], [baslangicTarihi], [bitisTarihi]) VALUES (7, N'Ayşe', N'Kara', N'0555555555', N'Gül Mahallesi Ankara', CAST(N'2026-04-01' AS Date), CAST(N'2027-04-01' AS Date))
INSERT [dbo].[tbl_abone] ([abone_id], [ad], [soyad], [telefon], [adresBilgisi], [baslangicTarihi], [bitisTarihi]) VALUES (8, N'Mehmet', N'Yıldız', N'0542215684', N'Atatürk caddesi İzmir', CAST(N'2026-02-01' AS Date), CAST(N'2027-02-01' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_abone] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_baski] ON 

INSERT [dbo].[tbl_baski] ([baski_id], [gazeteSayisi_id], [matbaa_id], [baskiTarihi], [adet]) VALUES (1, 1, 2, CAST(N'2026-01-05' AS Date), 2000)
INSERT [dbo].[tbl_baski] ([baski_id], [gazeteSayisi_id], [matbaa_id], [baskiTarihi], [adet]) VALUES (2, 2, 4, CAST(N'2026-01-02' AS Date), 1500)
INSERT [dbo].[tbl_baski] ([baski_id], [gazeteSayisi_id], [matbaa_id], [baskiTarihi], [adet]) VALUES (3, 4, 4, CAST(N'2026-05-06' AS Date), 7000)
SET IDENTITY_INSERT [dbo].[tbl_baski] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_bayi] ON 

INSERT [dbo].[tbl_bayi] ([bayi_id], [bayiAdi], [adresBilgisi], [telefon]) VALUES (1, N'Merkez Gazete Büfesi', N'Kadıköy Rıhtım / İstanbul', N'0212 555 10')
INSERT [dbo].[tbl_bayi] ([bayi_id], [bayiAdi], [adresBilgisi], [telefon]) VALUES (2, N'Başkent Kültür Yayinevi', N'Kızılay Metro Altı / Ankara', N'0312 444 20')
INSERT [dbo].[tbl_bayi] ([bayi_id], [bayiAdi], [adresBilgisi], [telefon]) VALUES (3, N'Kordon Gazete Bayii', N'Konak Meydanı / İzmir', N'0232 333 30')
SET IDENTITY_INSERT [dbo].[tbl_bayi] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_bayiGazete] ON 

INSERT [dbo].[tbl_bayiGazete] ([bayiGazete_id], [bayi_id], [gazeteSayisi_id], [gonderilenGazeteAdet], [iadeGelenGazeteAdet], [gonderimTarihi]) VALUES (1, 3, 2, 1000, 200, CAST(N'2026-02-01' AS Date))
INSERT [dbo].[tbl_bayiGazete] ([bayiGazete_id], [bayi_id], [gazeteSayisi_id], [gonderilenGazeteAdet], [iadeGelenGazeteAdet], [gonderimTarihi]) VALUES (2, 2, 4, 2000, 300, CAST(N'2026-01-02' AS Date))
INSERT [dbo].[tbl_bayiGazete] ([bayiGazete_id], [bayi_id], [gazeteSayisi_id], [gonderilenGazeteAdet], [iadeGelenGazeteAdet], [gonderimTarihi]) VALUES (3, 1, 5, 5000, 1000, CAST(N'2026-05-04' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_bayiGazete] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_departman] ON 

INSERT [dbo].[tbl_departman] ([departman_id], [departmanAdi]) VALUES (1, N'Yazı İşleri')
INSERT [dbo].[tbl_departman] ([departman_id], [departmanAdi]) VALUES (2, N'Matbaa')
INSERT [dbo].[tbl_departman] ([departman_id], [departmanAdi]) VALUES (3, N'Muhasebe')
SET IDENTITY_INSERT [dbo].[tbl_departman] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_durum] ON 

INSERT [dbo].[tbl_durum] ([durum_id], [durumAdi]) VALUES (1, N'Beklemede')
INSERT [dbo].[tbl_durum] ([durum_id], [durumAdi]) VALUES (2, N'İptal Edildi')
INSERT [dbo].[tbl_durum] ([durum_id], [durumAdi]) VALUES (3, N'Tamamlandı')
SET IDENTITY_INSERT [dbo].[tbl_durum] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_gazeteSayisi] ON 

INSERT [dbo].[tbl_gazeteSayisi] ([gazeteSayisi_id], [sayiNo], [yayinTarihi], [sayfaSayisi], [manset]) VALUES (1, 101, CAST(N'2026-04-01T00:00:00.000' AS DateTime), 24, N'Büyük Açılış')
INSERT [dbo].[tbl_gazeteSayisi] ([gazeteSayisi_id], [sayiNo], [yayinTarihi], [sayfaSayisi], [manset]) VALUES (2, 102, CAST(N'2026-04-02T00:00:00.000' AS DateTime), 23, N'Ekonomi Gündemde')
INSERT [dbo].[tbl_gazeteSayisi] ([gazeteSayisi_id], [sayiNo], [yayinTarihi], [sayfaSayisi], [manset]) VALUES (4, 103, CAST(N'2026-04-03T00:00:00.000' AS DateTime), 25, N'Sporun Kalbi')
SET IDENTITY_INSERT [dbo].[tbl_gazeteSayisi] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_gorev] ON 

INSERT [dbo].[tbl_gorev] ([gorev_id], [personel_id], [durum_id], [gorevAd]) VALUES (1, 6, 5, N'Röportaj')
INSERT [dbo].[tbl_gorev] ([gorev_id], [personel_id], [durum_id], [gorevAd]) VALUES (2, 5, 2, N'Reklam Anlaşma')
INSERT [dbo].[tbl_gorev] ([gorev_id], [personel_id], [durum_id], [gorevAd]) VALUES (3, 4, 3, N'Ödeme')
SET IDENTITY_INSERT [dbo].[tbl_gorev] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_haber] ON 

INSERT [dbo].[tbl_haber] ([haber_id], [baslik], [icerik], [kategori_id], [gazeteSayisi_id], [yazar_id]) VALUES (1, N'Yapay Zeka Gelişiyor', N'Yeni nesil modeller (GPT-5.4 ve Gemma 4 gibi), karmaşık hedefleri analiz edip alt görevlere bölerek otonom olarak tamamlayabiliyor. Örneğin; "bu ayki satış raporunu hazırla ve ekibe e-posta at" komutu verildiğinde, yapay zeka verileri topluyor, sunum hazırlıyor ve ilgili kişilere iletiyor.', 3, 2, 4)
INSERT [dbo].[tbl_haber] ([haber_id], [baslik], [icerik], [kategori_id], [gazeteSayisi_id], [yazar_id]) VALUES (4, N'Seçim Sonuçları', N'Muhalefetin Çağrısı: CHP Genel Başkanı Özgür Özel ve parti sözcüleri, ekonomik koşulları gerekçe göstererek "Geçim yoksa seçim var" sloganıyla 2026 yılını bir "Seçim Yılı" ilan etme çağrısında bulunuyor.

Anketler: Nisan 2026 tarihli son kamuoyu araştırmaları (Gündemar vb.), CHP''nin %32 civarında bir oranla birinci parti konumunu koruduğunu, AK Parti''nin ise %29-30 bandında onu takip ettiğini gösteriyor.', 4, 6, 2)
INSERT [dbo].[tbl_haber] ([haber_id], [baslik], [icerik], [kategori_id], [gazeteSayisi_id], [yazar_id]) VALUES (5, N'Şampiyon Kim?', N'Süper Lig''de 2025-2026 sezonu henüz tamamlanmamıştır; ancak şampiyonluk yarışı son düzlüğe girmiş durumda. 30. hafta itibarıyla puan durumundaki zirve mücadelesi şöyle:

Lider: Galatasaray (71 Puan)

İkinci: Fenerbahçe (67 Puan)

Üçüncü: Trabzonspor (65 Puan)

Ligin bitimine kısa bir süre kala Galatasaray avantajlı görünse de, Mayıs ayı sonunda şampiyonun netleşmesi bekleniyor.', 1, 4, 3)
SET IDENTITY_INSERT [dbo].[tbl_haber] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_haberArsiv] ON 

INSERT [dbo].[tbl_haberArsiv] ([id], [haber_id], [baslik], [icerik], [kategori_id], [gazeteSayisi_id], [silinme_tarihi]) VALUES (1, 9, N'Haber Başlık', N'içerik', 1, 5, CAST(N'2026-05-03T15:05:39.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_haberArsiv] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_haberKategori] ON 

INSERT [dbo].[tbl_haberKategori] ([kategori_id], [kategoriAdi]) VALUES (1, N'Spor')
INSERT [dbo].[tbl_haberKategori] ([kategori_id], [kategoriAdi]) VALUES (2, N'Eğitim')
INSERT [dbo].[tbl_haberKategori] ([kategori_id], [kategoriAdi]) VALUES (3, N'Teknoloji')
SET IDENTITY_INSERT [dbo].[tbl_haberKategori] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_matbaa] ON 

INSERT [dbo].[tbl_matbaa] ([matbaa_id], [adresBilgisi], [matbaaAdi]) VALUES (2, N'Denizli/Merkezefendi', N'Denizli Basım')
INSERT [dbo].[tbl_matbaa] ([matbaa_id], [adresBilgisi], [matbaaAdi]) VALUES (3, N'İstanbul/Eyüpsultan', N'Turkuvaz Matbaacılık')
INSERT [dbo].[tbl_matbaa] ([matbaa_id], [adresBilgisi], [matbaaAdi]) VALUES (4, N'Ankara/Çankaya', N'Yıldız Matbaa')
SET IDENTITY_INSERT [dbo].[tbl_matbaa] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_personel] ON 

INSERT [dbo].[tbl_personel] ([personel_id], [departman_id], [ad], [soyad], [tcNo], [adresBilgisi], [maas]) VALUES (2, 2, N'Ali', N'Kara', N'10234567892', N'Pamukkale/Denizli', 50000.0000)
INSERT [dbo].[tbl_personel] ([personel_id], [departman_id], [ad], [soyad], [tcNo], [adresBilgisi], [maas]) VALUES (3, 4, N'Zeynep', N'Özçelik', N'12456520235', N'Fatih/istanbul', 52000.0000)
INSERT [dbo].[tbl_personel] ([personel_id], [departman_id], [ad], [soyad], [tcNo], [adresBilgisi], [maas]) VALUES (4, 3, N'Cansu', N'Yıldırım', N'21469875130', N'Mudanya/Bursa', 45000.0000)
SET IDENTITY_INSERT [dbo].[tbl_personel] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_reklam] ON 

INSERT [dbo].[tbl_reklam] ([reklam_id], [reklamVerenAd], [ucret], [gazeteSayisi_id], [sure]) VALUES (1, N'Uzun Mobilya', 3000.0000, 1, 3)
INSERT [dbo].[tbl_reklam] ([reklam_id], [reklamVerenAd], [ucret], [gazeteSayisi_id], [sure]) VALUES (3, N'Ege Tarım', 5000.0000, 2, 4)
INSERT [dbo].[tbl_reklam] ([reklam_id], [reklamVerenAd], [ucret], [gazeteSayisi_id], [sure]) VALUES (4, N'Moda Butik', 2000.0000, 4, 1)
SET IDENTITY_INSERT [dbo].[tbl_reklam] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_yazar] ON 

INSERT [dbo].[tbl_yazar] ([yazar_id], [ad], [soyad], [eposta], [kategori_id]) VALUES (1, N'Sude', N'Seyman', N'sudeseyman@gmail.com', 2)
INSERT [dbo].[tbl_yazar] ([yazar_id], [ad], [soyad], [eposta], [kategori_id]) VALUES (2, N'Hakan ', N'Güldağ', N'hguldag@mail.com', 4)
INSERT [dbo].[tbl_yazar] ([yazar_id], [ad], [soyad], [eposta], [kategori_id]) VALUES (3, N'Atilla', N'Gökçe', N'agokce@mail.com', 1)
SET IDENTITY_INSERT [dbo].[tbl_yazar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_yorum] ON 

INSERT [dbo].[tbl_yorum] ([yorum_id], [haber_id], [abone_id], [yorumMetni], [yorumTarihi]) VALUES (1, 1, 7, N'Gerçekten çok faydalı bir içerik beğendim...', CAST(N'2026-04-01' AS Date))
INSERT [dbo].[tbl_yorum] ([yorum_id], [haber_id], [abone_id], [yorumMetni], [yorumTarihi]) VALUES (2, 4, 1, N'Faydalı beğendim', CAST(N'2026-04-23' AS Date))
INSERT [dbo].[tbl_yorum] ([yorum_id], [haber_id], [abone_id], [yorumMetni], [yorumTarihi]) VALUES (3, 5, 8, N'Çok heycanlı', CAST(N'2026-01-02' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_yorum] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbl_abone_telefon_tekrar_etmesin]    Script Date: 1.10.2026 22:14:20 ******/
ALTER TABLE [dbo].[tbl_abone] ADD  CONSTRAINT [UQ_tbl_abone_telefon_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbl_bayi_telefon_tekrar_etmesin]    Script Date: 1.10.2026 22:14:20 ******/
ALTER TABLE [dbo].[tbl_bayi] ADD  CONSTRAINT [UQ_tbl_bayi_telefon_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbl_personel_tcNo_tekrar_etmesin]    Script Date: 1.10.2026 22:14:20 ******/
ALTER TABLE [dbo].[tbl_personel] ADD  CONSTRAINT [UQ_tbl_personel_tcNo_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[tcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbl_yazar_eposta_tekrar_etmesin]    Script Date: 1.10.2026 22:14:20 ******/
ALTER TABLE [dbo].[tbl_yazar] ADD  CONSTRAINT [UQ_tbl_yazar_eposta_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_abone] ADD  CONSTRAINT [DF_tbl_abone_baslangicTarihi]  DEFAULT (getdate()) FOR [baslangicTarihi]
GO
ALTER TABLE [dbo].[tbl_abone] ADD  CONSTRAINT [DF_tbl_abone_bitisTarihi]  DEFAULT (getdate()) FOR [bitisTarihi]
GO
ALTER TABLE [dbo].[tbl_baski] ADD  CONSTRAINT [DF_tbl_baski_baskiTarihi]  DEFAULT (getdate()) FOR [baskiTarihi]
GO
ALTER TABLE [dbo].[tbl_bayiGazete] ADD  CONSTRAINT [DF_tbl_bayiGazete_gonderimTarihi]  DEFAULT (getdate()) FOR [gonderimTarihi]
GO
ALTER TABLE [dbo].[tbl_durum] ADD  CONSTRAINT [DF_tbl_durum_durumAdi]  DEFAULT (N'Beklemede') FOR [durumAdi]
GO
ALTER TABLE [dbo].[tbl_gazeteSayisi] ADD  CONSTRAINT [DF_tbl_gazeteSayisi_yayinTaihi]  DEFAULT (getdate()) FOR [yayinTarihi]
GO
ALTER TABLE [dbo].[tbl_yorum] ADD  CONSTRAINT [DF_tbl_yorum_yorumTarihi]  DEFAULT (getdate()) FOR [yorumTarihi]
GO
ALTER TABLE [dbo].[tbl_baski]  WITH CHECK ADD  CONSTRAINT [FK_tbl_baski_tbl_gazeteSayisi] FOREIGN KEY([gazeteSayisi_id])
REFERENCES [dbo].[tbl_gazeteSayisi] ([gazeteSayisi_id])
GO
ALTER TABLE [dbo].[tbl_baski] CHECK CONSTRAINT [FK_tbl_baski_tbl_gazeteSayisi]
GO
ALTER TABLE [dbo].[tbl_baski]  WITH CHECK ADD  CONSTRAINT [FK_tbl_baski_tbl_matbaa] FOREIGN KEY([matbaa_id])
REFERENCES [dbo].[tbl_matbaa] ([matbaa_id])
GO
ALTER TABLE [dbo].[tbl_baski] CHECK CONSTRAINT [FK_tbl_baski_tbl_matbaa]
GO
ALTER TABLE [dbo].[tbl_bayiGazete]  WITH CHECK ADD  CONSTRAINT [FK_tbl_bayiGazete_tbl_bayi] FOREIGN KEY([bayi_id])
REFERENCES [dbo].[tbl_bayi] ([bayi_id])
GO
ALTER TABLE [dbo].[tbl_bayiGazete] CHECK CONSTRAINT [FK_tbl_bayiGazete_tbl_bayi]
GO
ALTER TABLE [dbo].[tbl_bayiGazete]  WITH CHECK ADD  CONSTRAINT [FK_tbl_bayiGazete_tbl_gazeteSayisi] FOREIGN KEY([gazeteSayisi_id])
REFERENCES [dbo].[tbl_gazeteSayisi] ([gazeteSayisi_id])
GO
ALTER TABLE [dbo].[tbl_bayiGazete] CHECK CONSTRAINT [FK_tbl_bayiGazete_tbl_gazeteSayisi]
GO
ALTER TABLE [dbo].[tbl_gorev]  WITH CHECK ADD  CONSTRAINT [FK_tbl_gorev_tbl_durum] FOREIGN KEY([durum_id])
REFERENCES [dbo].[tbl_durum] ([durum_id])
GO
ALTER TABLE [dbo].[tbl_gorev] CHECK CONSTRAINT [FK_tbl_gorev_tbl_durum]
GO
ALTER TABLE [dbo].[tbl_gorev]  WITH CHECK ADD  CONSTRAINT [FK_tbl_gorev_tbl_personel] FOREIGN KEY([personel_id])
REFERENCES [dbo].[tbl_personel] ([personel_id])
GO
ALTER TABLE [dbo].[tbl_gorev] CHECK CONSTRAINT [FK_tbl_gorev_tbl_personel]
GO
ALTER TABLE [dbo].[tbl_haber]  WITH CHECK ADD  CONSTRAINT [FK_tbl_haber_tbl_gazeteSayisi] FOREIGN KEY([gazeteSayisi_id])
REFERENCES [dbo].[tbl_gazeteSayisi] ([gazeteSayisi_id])
GO
ALTER TABLE [dbo].[tbl_haber] CHECK CONSTRAINT [FK_tbl_haber_tbl_gazeteSayisi]
GO
ALTER TABLE [dbo].[tbl_haber]  WITH CHECK ADD  CONSTRAINT [FK_tbl_haber_tbl_haberKategori] FOREIGN KEY([kategori_id])
REFERENCES [dbo].[tbl_haberKategori] ([kategori_id])
GO
ALTER TABLE [dbo].[tbl_haber] CHECK CONSTRAINT [FK_tbl_haber_tbl_haberKategori]
GO
ALTER TABLE [dbo].[tbl_haber]  WITH CHECK ADD  CONSTRAINT [FK_tbl_haber_tbl_yazar] FOREIGN KEY([yazar_id])
REFERENCES [dbo].[tbl_yazar] ([yazar_id])
GO
ALTER TABLE [dbo].[tbl_haber] CHECK CONSTRAINT [FK_tbl_haber_tbl_yazar]
GO
ALTER TABLE [dbo].[tbl_personel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_personel_tbl_departman] FOREIGN KEY([departman_id])
REFERENCES [dbo].[tbl_departman] ([departman_id])
GO
ALTER TABLE [dbo].[tbl_personel] CHECK CONSTRAINT [FK_tbl_personel_tbl_departman]
GO
ALTER TABLE [dbo].[tbl_reklam]  WITH CHECK ADD  CONSTRAINT [FK_tbl_reklam_tbl_gazeteSayisi] FOREIGN KEY([gazeteSayisi_id])
REFERENCES [dbo].[tbl_gazeteSayisi] ([gazeteSayisi_id])
GO
ALTER TABLE [dbo].[tbl_reklam] CHECK CONSTRAINT [FK_tbl_reklam_tbl_gazeteSayisi]
GO
ALTER TABLE [dbo].[tbl_yazar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_yazar_tbl_haberKategori] FOREIGN KEY([kategori_id])
REFERENCES [dbo].[tbl_haberKategori] ([kategori_id])
GO
ALTER TABLE [dbo].[tbl_yazar] CHECK CONSTRAINT [FK_tbl_yazar_tbl_haberKategori]
GO
ALTER TABLE [dbo].[tbl_yorum]  WITH CHECK ADD  CONSTRAINT [FK_tbl_yorum_tbl_abone] FOREIGN KEY([abone_id])
REFERENCES [dbo].[tbl_abone] ([abone_id])
GO
ALTER TABLE [dbo].[tbl_yorum] CHECK CONSTRAINT [FK_tbl_yorum_tbl_abone]
GO
ALTER TABLE [dbo].[tbl_yorum]  WITH CHECK ADD  CONSTRAINT [FK_tbl_yorum_tbl_haber] FOREIGN KEY([haber_id])
REFERENCES [dbo].[tbl_haber] ([haber_id])
GO
ALTER TABLE [dbo].[tbl_yorum] CHECK CONSTRAINT [FK_tbl_yorum_tbl_haber]
GO
ALTER TABLE [dbo].[tbl_abone]  WITH CHECK ADD  CONSTRAINT [CK_tbl_abone_telefon_11_karakter_olmalı] CHECK  ((len([telefon])=(11) OR len([telefon])=(10)))
GO
ALTER TABLE [dbo].[tbl_abone] CHECK CONSTRAINT [CK_tbl_abone_telefon_11_karakter_olmalı]
GO
ALTER TABLE [dbo].[tbl_baski]  WITH CHECK ADD  CONSTRAINT [CK_tbl_baski_adet_sıfırdan_büyük_olmalı] CHECK  (([adet]>=(0)))
GO
ALTER TABLE [dbo].[tbl_baski] CHECK CONSTRAINT [CK_tbl_baski_adet_sıfırdan_büyük_olmalı]
GO
ALTER TABLE [dbo].[tbl_bayi]  WITH CHECK ADD  CONSTRAINT [CK_tbl_bayi_telefon_11_karakter_olmalı] CHECK  ((len([telefon])=(11) OR len([telefon])=(10)))
GO
ALTER TABLE [dbo].[tbl_bayi] CHECK CONSTRAINT [CK_tbl_bayi_telefon_11_karakter_olmalı]
GO
ALTER TABLE [dbo].[tbl_bayiGazete]  WITH CHECK ADD  CONSTRAINT [CK_tbl_bayiGazete_gonderilen_gazete_adet_sifirdan_buyuk_olmali] CHECK  (([gonderilenGazeteAdet]>=(0)))
GO
ALTER TABLE [dbo].[tbl_bayiGazete] CHECK CONSTRAINT [CK_tbl_bayiGazete_gonderilen_gazete_adet_sifirdan_buyuk_olmali]
GO
ALTER TABLE [dbo].[tbl_bayiGazete]  WITH CHECK ADD  CONSTRAINT [CK_tbl_bayiGazete_iadeGelenGazeteAdet_sifirdan_buyuk_olmali] CHECK  (([iadeGelenGazeteAdet]>=(0)))
GO
ALTER TABLE [dbo].[tbl_bayiGazete] CHECK CONSTRAINT [CK_tbl_bayiGazete_iadeGelenGazeteAdet_sifirdan_buyuk_olmali]
GO
ALTER TABLE [dbo].[tbl_gazeteSayisi]  WITH CHECK ADD  CONSTRAINT [CK_tbl_gazeteSayisi_sayiNo_sifirdan_buyuk_olmali] CHECK  (([sayiNo]>=(0)))
GO
ALTER TABLE [dbo].[tbl_gazeteSayisi] CHECK CONSTRAINT [CK_tbl_gazeteSayisi_sayiNo_sifirdan_buyuk_olmali]
GO
ALTER TABLE [dbo].[tbl_gazeteSayisi]  WITH CHECK ADD  CONSTRAINT [CK_tbl_gazeteSayisi_sifirdan_buyuk_olmali] CHECK  (([sayfaSayisi]>=(0)))
GO
ALTER TABLE [dbo].[tbl_gazeteSayisi] CHECK CONSTRAINT [CK_tbl_gazeteSayisi_sifirdan_buyuk_olmali]
GO
ALTER TABLE [dbo].[tbl_personel]  WITH CHECK ADD  CONSTRAINT [CK_tbl_personel_maas_sıfırdan_büyük_olmalı] CHECK  (([maas]>=(0)))
GO
ALTER TABLE [dbo].[tbl_personel] CHECK CONSTRAINT [CK_tbl_personel_maas_sıfırdan_büyük_olmalı]
GO
ALTER TABLE [dbo].[tbl_personel]  WITH CHECK ADD  CONSTRAINT [CK_tbl_personel_tcNo_11_karakter_olmalı] CHECK  ((len([tcNo])=(11)))
GO
ALTER TABLE [dbo].[tbl_personel] CHECK CONSTRAINT [CK_tbl_personel_tcNo_11_karakter_olmalı]
GO
ALTER TABLE [dbo].[tbl_reklam]  WITH CHECK ADD  CONSTRAINT [CK_tbl_reklam_ucret_sıfırdan_büyük_olmalı] CHECK  (([ucret]>=(0)))
GO
ALTER TABLE [dbo].[tbl_reklam] CHECK CONSTRAINT [CK_tbl_reklam_ucret_sıfırdan_büyük_olmalı]
GO
ALTER TABLE [dbo].[tbl_yazar]  WITH CHECK ADD  CONSTRAINT [CK_tbl_yazar_eposta_@_içermeli] CHECK  (([eposta] like '%@%'))
GO
ALTER TABLE [dbo].[tbl_yazar] CHECK CONSTRAINT [CK_tbl_yazar_eposta_@_içermeli]
GO
/****** Object:  StoredProcedure [dbo].[stp_aboneEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_aboneEkleSilGuncelle]
(
	@abone_id int, @ad nvarchar(50),@soyad nvarchar(50),
	@telefon nvarchar(11),@adresBilgisi nvarchar(max),@baslangicTarihi date,
	@bitisTarihi date, @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_abone(ad,soyad,telefon,adresBilgisi,baslangicTarihi,bitisTarihi)
		values(@ad,@soyad,@telefon,@adresBilgisi,@baslangicTarihi,@bitisTarihi)
	end
	else if @islem=2
	begin
		delete from tbl_abone where abone_id = @abone_id
	end
	else if @islem=3
	begin
		update tbl_abone
		set ad=@ad,
			soyad=@soyad,
			telefon=@telefon,
			adresBilgisi=@adresBilgisi,
			baslangicTarihi=@baslangicTarihi,
			bitisTarihi=@bitisTarihi
			where abone_id=@abone_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_baskiEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_baskiEkleSilGuncelle]
(
	@baski_id int, @gazeteSayisi_id int,@matbaa_id int,
	@adet int,@baskiTarihi date, @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_baski(gazeteSayisi_id, matbaa_id, adet, baskiTarihi)
		values(@gazeteSayisi_id, @matbaa_id, @adet, @baskiTarihi)
	end
	else if @islem=2
	begin
		delete from tbl_baski where baski_id = @baski_id
	end
	else if @islem=3
	begin
		update tbl_baski
		set gazeteSayisi_id=@gazeteSayisi_id,
			matbaa_id=@matbaa_id,
			adet=@adet,
			baskiTarihi=@baskiTarihi
			where baski_id=@baski_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_bayiEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_bayiEkleSilGuncelle]
(
	@bayi_id int, @bayiAdi nvarchar(50),@adresBilgisi nvarchar(max),
	@telefon nvarchar(11), @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_bayi(bayiAdi, adresBilgisi, telefon)
		values(@bayiAdi, @adresBilgisi, @telefon)
	end
	else if @islem=2
	begin
		delete from tbl_bayi where bayi_id = @bayi_id
	end
	else if @islem=3
	begin
		update tbl_bayi
		set bayiAdi=@bayiAdi,
			adresBilgisi=@adresBilgisi,
			telefon=@telefon
			where bayi_id=@bayi_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_bayiGazeteEkleSilGuncelle_try_trans]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[stp_bayiGazeteEkleSilGuncelle_try_trans]
(
	@bayiGazete_id int, @bayi_id int, @gazeteSayisi_id int, @gonderilenGazeteAdet int,
	@iadeGelenGazeteAdet int, @gonderimTarihi date, @islem int
)
as
begin
	begin try
		begin transaction
			if @islem=1
			begin
				insert into tbl_bayiGazete(bayi_id,gazeteSayisi_id,gonderilenGazeteAdet,
				iadeGelenGazeteAdet,gonderimTarihi)
				values (@bayi_id,@gazeteSayisi_id,@gonderilenGazeteAdet,
				@iadeGelenGazeteAdet,@gonderimTarihi)
			end
			else if @islem=2
			begin
				delete from tbl_bayiGazete where bayiGazete_id=@bayiGazete_id
			end
			else if @islem=3
			begin
				update tbl_bayiGazete
				set bayi_id=@bayi_id,
					gazeteSayisi_id=@gazeteSayisi_id,
					gonderilenGazeteAdet=@gonderilenGazeteAdet,
					iadeGelenGazeteAdet=@iadeGelenGazeteAdet,
					gonderimTarihi=@gonderimTarihi
				where bayiGazete_id=@bayiGazete_id
			end
		commit transaction
		print 'İşlem başarıyla gerçekleştirildi.'
	end try
	begin catch
		print 'Hata Oluştu işlem iptal edildi.'
		rollback 
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[stp_departmanEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_departmanEkleSilGuncelle]
(
	@departman_id int, @departmanAdi nvarchar(50), @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_departman(departmanAdi)
		values(@departmanAdi)
	end
	else if @islem=2
	begin
		delete from tbl_departman where departman_id = @departman_id
	end
	else if @islem=3
	begin
		update tbl_departman
		set departmanAdi=@departmanAdi
			where departman_id=@departman_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_durumEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_durumEkleSilGuncelle]
(
	@durum_id tinyint, @durumAdi nvarchar(50), @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_durum(durumAdi)
		values(@durumAdi)
	end
	else if @islem=2
	begin
		delete from tbl_durum where durum_id = @durum_id
	end
	else if @islem=3
	begin
		update tbl_durum
		set durumAdi=@durumAdi
			where durum_id=@durum_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_GazeteSayisiEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_GazeteSayisiEkleSilGuncelle]
(
	@gazeteSayisi_id int,@sayiNo int, @yayinTarihi datetime, 
	@sayfaSayisi int,@manset nvarchar(50), @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_gazeteSayisi(sayiNo, yayinTarihi, sayfaSayisi, manset)
		values(@sayiNo, @yayinTarihi, @sayfaSayisi, @manset)
	end
	else if @islem=2
	begin
		delete from tbl_gazeteSayisi where gazeteSayisi_id = @gazeteSayisi_id
	end
	else if @islem=3
	begin
		update tbl_gazeteSayisi
		set sayiNo=@sayiNo,
			yayinTarihi=@yayinTarihi,
			sayfaSayisi=@sayfaSayisi,
			manset=@manset
			where gazeteSayisi_id=@gazeteSayisi_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_gorevEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_gorevEkleSilGuncelle]
(
	@gorev_id int,@personel_id int,@durum_id int, @gorevAd nvarchar(50), @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_gorev(personel_id,durum_id,gorevAd)
		values(@personel_id,@durum_id,@gorevAd)
	end
	else if @islem=2
	begin
		delete from tbl_gorev where gorev_id = @gorev_id
	end
	else if @islem=3
	begin
		update tbl_gorev
		set personel_id=@personel_id,
			durum_id=@durum_id,
			gorevAd=@gorevAd
			where gorev_id=@gorev_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_haberEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_haberEkleSilGuncelle]
(
	@haber_id int, @baslik nvarchar(50),@icerik nvarchar(50),
	@kategori_id int,@gazeteSayisi_id int,@yazar_id int, @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_haber(baslik,icerik,kategori_id,gazeteSayisi_id,yazar_id)
		values(@baslik,@icerik,@kategori_id,@gazeteSayisi_id,@yazar_id)
	end
	else if @islem=2
	begin
		delete from tbl_haber where haber_id = @haber_id
	end
	else if @islem=3
	begin
		update tbl_haber
		set baslik=@baslik,
			icerik=@icerik,
			kategori_id=@kategori_id,
			gazeteSayisi_id=@gazeteSayisi_id,
			yazar_id=@yazar_id
			where haber_id=@haber_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_HaberKategoriEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_HaberKategoriEkleSilGuncelle]
(
	@kategori_id int, @kategoriAdi nvarchar(50), @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_haberKategori(kategoriAdi)
		values(@kategoriAdi)
	end
	else if @islem=2
	begin
		delete from tbl_haberKategori where kategori_id = @kategori_id
	end
	else if @islem=3
	begin
		update tbl_haberKategori
		set kategoriAdi=@kategoriAdi
			where kategori_id=@kategori_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_matbaaEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_matbaaEkleSilGuncelle]
(
	@matbaa_id tinyint, @matbaaAdi nvarchar(50),@adresBilgisi nvarchar(max), @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_matbaa(matbaaAdi,adresBilgisi)
		values(@matbaaAdi,@adresBilgisi)
	end
	else if @islem=2
	begin
		delete from tbl_matbaa where matbaa_id = @matbaa_id
	end
	else if @islem=3
	begin
		update tbl_matbaa
		set matbaaAdi=@matbaaAdi,
			adresBilgisi=@adresBilgisi
			where matbaa_id=@matbaa_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_PersonelEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_PersonelEkleSilGuncelle]
(
	@personel_id int,@departman_id int, @ad nvarchar(50), 
	@soyad nvarchar(50),@tcNo nvarchar(11), @adresBilgisi nvarchar(max),
	@maas money, @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_personel(departman_id,ad,soyad,tcNo,adresBilgisi,maas)
		values(@departman_id,@ad,@soyad,@tcNo,@adresBilgisi,@maas)
	end
	else if @islem=2
	begin
		delete from tbl_personel where personel_id = @personel_id
	end
	else if @islem=3
	begin
		update tbl_personel
		set departman_id=@departman_id,
			ad=@ad,
			soyad=@soyad,
			tcNo=@tcNo,
			adresBilgisi=@adresBilgisi,
			maas=@maas
			where personel_id=@personel_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_ReklamEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_ReklamEkleSilGuncelle]
(
	@reklam_id int,@reklamVerenAd nvarchar(50),@ucret money,
	@gazetesayisi_id int,@sure tinyint, @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_reklam(reklamVerenAd,ucret,gazeteSayisi_id,sure)
		values(@reklamVerenAd,@ucret,@gazeteSayisi_id,@sure)
	end
	else if @islem=2
	begin
		delete from tbl_reklam where reklam_id=@reklam_id
	end
	else if @islem=3
	begin
		update tbl_reklam
		set reklamVerenAd=@reklamVerenAd,
			ucret=@ucret,
			gazeteSayisi_id=@gazetesayisi_id,
			sure=@sure
			where reklam_id=@reklam_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_YazarEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_YazarEkleSilGuncelle]
(
	@yazar_id int, @ad nvarchar(50), @soyad nvarchar(50), 
	@eposta nvarchar(50), @kategori_id int, @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_yazar(ad, soyad, eposta, kategori_id)
		values(@ad, @soyad, @eposta, @kategori_id)
	end
	else if @islem=2
	begin
		delete from tbl_yazar where yazar_id=@yazar_id
	end
	else if @islem=3
	begin
		update tbl_yazar
		set ad=@ad,
			soyad=@soyad,
			eposta=@eposta,
			kategori_id=@kategori_id
			where yazar_id=@yazar_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
/****** Object:  StoredProcedure [dbo].[stp_YorumEkleSilGuncelle]    Script Date: 1.10.2026 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[stp_YorumEkleSilGuncelle]
(
	@yorum_id int, @haber_id int, @abone_id int,
	@yorumMetni nvarchar(max), @yorumTarihi date, @islem int
)
as
begin
	if @islem=1
	begin
		insert into tbl_yorum(haber_id, abone_id, yorumMetni, yorumTarihi)
		values(@haber_id, @abone_id, @yorumMetni, @yorumTarihi)
	end
	else if @islem=2
	begin
		delete from tbl_yorum where yorum_id=@yorum_id
	end
	else if @islem=3
	begin
		update tbl_yorum
		set haber_id=@haber_id,
			abone_id=@abone_id,
			yorumMetni=@yorumMetni,
			yorumTarihi=@yorumTarihi
			where yorum_id=@yorum_id
	end
	else
		print'Hatalı Seçim Yaptınız!'
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefon tekrar etmesin.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_abone', @level2type=N'CONSTRAINT',@level2name=N'UQ_tbl_abone_telefon_tekrar_etmesin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefon 10 ya da 11 karakter olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_abone', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_abone_telefon_11_karakter_olmalı'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Adet sıfırdan büyük olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_baski', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_baski_adet_sıfırdan_büyük_olmalı'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefon tekrar etmesin.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_bayi', @level2type=N'CONSTRAINT',@level2name=N'UQ_tbl_bayi_telefon_tekrar_etmesin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefon 11 ya da 10 karakter olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_bayi', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_bayi_telefon_11_karakter_olmalı'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gönderilen gazete adet sayısı sıfırdan büyük olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_bayiGazete', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_bayiGazete_gonderilen_gazete_adet_sifirdan_buyuk_olmali'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'İade gelen gazte adeti sıfırdan büyük olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_bayiGazete', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_bayiGazete_iadeGelenGazeteAdet_sifirdan_buyuk_olmali'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayı numarası sıfırdan büyük olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_gazeteSayisi', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_gazeteSayisi_sayiNo_sifirdan_buyuk_olmali'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sayfa sayısı sıfırdan büyük olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_gazeteSayisi', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_gazeteSayisi_sifirdan_buyuk_olmali'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'tcNo tekrar etmesin' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personel', @level2type=N'CONSTRAINT',@level2name=N'UQ_tbl_personel_tcNo_tekrar_etmesin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Maaş sıfırdan büyük olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personel', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_personel_maas_sıfırdan_büyük_olmalı'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tc Kimlik Numarası 11 karakterden oluşmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personel', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_personel_tcNo_11_karakter_olmalı'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ücret sıfırdan büyük olmalı.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_reklam', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_reklam_ucret_sıfırdan_büyük_olmalı'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'eposta tekrar etmesin.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_yazar', @level2type=N'CONSTRAINT',@level2name=N'UQ_tbl_yazar_eposta_tekrar_etmesin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'eposta @ karakteri içermeli.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_yazar', @level2type=N'CONSTRAINT',@level2name=N'CK_tbl_yazar_eposta_@_içermeli'
GO
